@use '../utils/variables' as *;
@use '../utils/include-media' as *;
@use '../utils/mixins' as *;

.cta {
  overflow: hidden;
  line-height: 1.4;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 3rem 0 0;
  padding-bottom: 4rem;
  @include media('>tablet') {
    padding-bottom: 0;
    padding-right: 5rem;
  }

  &__waves {
    position: absolute;
    z-index: -1;
    height: 85%;
    width: 100%;
    opacity: 0.2;
    object-fit: cover;
    bottom: 0;
    left: 0;

    &:nth-of-type(2) {
      transform: rotateY(180deg);
    }

    @include media('>tablet') {
      object-fit: fill;
    }
  }

  @include media('>tablet') {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  @include media('>mindesk') {
    grid-template-columns: 1.1fr 1fr;
    gap: 10rem;
  }

  > .img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    flex-grow: 1;
    margin-bottom: 3rem;

    @include media('>tablet') {
      margin-top: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  & h1 {
    @include heading-text;
    font-size: clamp(2.8rem, 4vw, 5rem);
    margin-bottom: 3rem;
    padding: 0 4rem;

    @include media('>tablet') {
      padding: 0;
    }
  }
}
