$clr-black: #2c2c2c;
$clr-white: #ffffff;
$clr-primary: #009473;
$clr-light-gray: #b7b7b7;
$clr-gray: #767676;
$clr-medium-gray: #959595;
$clr-gray-dark: #2d2d2d;
$clr-footer: #1a202c;

$fnt-x-small: clamp(0.9rem, 1vw, 1.8rem);
$fnt-small: clamp(1.5rem, 1.2vw, 2rem);
$fnt-medium: clamp(1.5rem, 1.5vw, 2.5rem);
$fnt-semi-large: clamp(2.3rem, 4.5vw, 4.4rem);
$fnt-large: clamp(2.8rem, 5vw, 5.5rem);
$fnt-x-large: clamp(4rem, 6.5vw, 7rem);
